/* LxTable */
th[data-sortable=true] {
	color: #444;
	cursor: pointer;
	
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

th[data-order-card="asc"]::after {
	content:" \0021E1";
}

th[data-order-card="desc"]::after {
	content:" \0021E3";
}


/* Signature pad */
.m-signature-pad 
  canvas {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
    border:1px solid gray;
  }