th[data-sortable=true] {
	color: #444;
	cursor: pointer;
	
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

th[data-order-card="asc"]::after {
	content:" \0021E1";
}

th[data-order-card="desc"]::after {
	content:" \0021E3";
}

