{"swagger":"2.0","info":{"description":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.","version":"2.0","title":"Springfox petstore API","termsOfService":"http://springfox.io","contact":{"name":"springfox"},"license":{"name":"Apache License Version 2.0","url":"https://github.com/springfox/springfox/blob/master/LICENSE"}},"host":"projetos.net4bizidc.com.br:8080","basePath":"/hello","tags":[{"name":"pessoas-controller","description":"Pessoas Controller"},{"name":"pet-controller","description":"Pet Controller"}],"paths":{"/api/pessoas":{"get":{"tags":["pessoas-controller"],"summary":"Retorna as pessoas","operationId":"listUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int64"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int64"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«Pessoa»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["pessoas-controller"],"summary":"save","operationId":"saveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pessoa","description":"pessoa","required":true,"schema":{"$ref":"#/definitions/Pessoa"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/pessoas/{id}":{"get":{"tags":["pessoas-controller"],"summary":"get","operationId":"getUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["pessoas-controller"],"summary":"update","operationId":"updateUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"pessoa","description":"pessoa","required":true,"schema":{"$ref":"#/definitions/Pessoa"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["pessoas-controller"],"summary":"delete","operationId":"deleteUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/pets":{"get":{"tags":["pet-controller"],"summary":"Retorna os pets","operationId":"listUsingGET_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int64"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int64"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«Pessoa»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["pet-controller"],"summary":"Grava o Pet","operationId":"saveUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pet","description":"pet","required":true,"schema":{"$ref":"#/definitions/Pet"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/pets/{id}":{"get":{"tags":["pet-controller"],"summary":"Retorna um pet","operationId":"getUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["pet-controller"],"summary":"Atualiza um pet","operationId":"updateUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"pet","description":"pet","required":true,"schema":{"$ref":"#/definitions/Pet"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["pet-controller"],"summary":"Remove um pet","operationId":"deleteUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}}},"definitions":{"Sort":{"type":"object"},"Pet":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nome":{"type":"string"},"tag":{"type":"string"}}},"Page«Pessoa»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/Pessoa"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"Pessoa":{"type":"object","properties":{"cep":{"type":"integer","format":"int32"},"cidade":{"type":"string"},"email":{"type":"string"},"endereco":{"type":"string"},"estado":{"type":"string"},"id":{"type":"integer","format":"int64"},"nome":{"type":"string"},"sobrenome":{"type":"string"}}}}}