{"swagger":"2.0","info":{"description":"API para controle de clientes do cartão linx","version":"1.0.0","title":"Linx Card - Manager Card API","contact":{"name":"Linxcard"},"license":{"name":"Linxcard","url":"http://unlicense.org"}},"host":"projetos.net4bizidc.com.br:8080","basePath":"/managerCard","tags":[{"name":"usuarios-controller","description":"Usuarios dos clientes e suporte para entrar no ADM"},{"name":"tipos-usuario-controller","description":"Tipo de usuarios existente"},{"name":"produtos-controller","description":"Soluções que o Linx Card oferece"},{"name":"clientes-controller","description":"Clientes Linx Card"},{"name":"sistemas-erp-controller","description":"Sistemas de planejamento de recursos da empresa"},{"name":"status-pessoas-controller","description":"Status de pessoas existente"},{"name":"help-controller","description":"Help Controller"}],"paths":{"/api/v1/clientes":{"get":{"tags":["clientes-controller"],"summary":"findPaginatedOrder","operationId":"findPaginatedOrderUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"offset","in":"query","description":"offset","required":true,"type":"string"},{"name":"limit","in":"query","description":"limit","required":true,"type":"string"},{"name":"order","in":"query","description":"order","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«PessoaCliente»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["clientes-controller"],"summary":"add","operationId":"addUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"cliente","description":"cliente","required":true,"schema":{"$ref":"#/definitions/PessoaCliente"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/clientes/{idCliente}":{"get":{"tags":["clientes-controller"],"summary":"findPaginated","operationId":"findPaginatedUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idCliente","in":"path","description":"idCliente","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PessoaCliente"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["clientes-controller"],"summary":"alter","operationId":"alterUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idCliente","in":"path","description":"idCliente","required":true,"type":"integer","format":"int32"},{"in":"body","name":"cliente","description":"cliente","required":true,"schema":{"$ref":"#/definitions/PessoaCliente"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["clientes-controller"],"summary":"deletar","operationId":"deletarUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idCliente","in":"path","description":"idCliente","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/clientes/{idCliente}/usuarios":{"get":{"tags":["usuarios-controller"],"summary":"findPaginated","operationId":"findPaginatedUsingGET_10","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idCliente","in":"path","description":"idCliente","required":true,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Numero da página","required":true,"type":"string"},{"name":"limit","in":"query","description":"limit","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«Usuario»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/clientes/{idCliente}/usuarios/":{"post":{"tags":["usuarios-controller"],"summary":"add","operationId":"addUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idCliente","in":"path","description":"idCliente","required":true,"type":"integer","format":"int32"},{"in":"body","name":"usuario","description":"usuario","required":true,"schema":{"$ref":"#/definitions/Usuario"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/clientes/{idCliente}/usuarios/{idUsuario}":{"get":{"tags":["usuarios-controller"],"summary":"findPaginated","operationId":"findPaginatedUsingGET_9","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idUsuario","in":"path","description":"idUsuario","required":true,"type":"integer","format":"int32"},{"name":"idCliente","in":"path","description":"idCliente","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Usuario"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["usuarios-controller"],"summary":"alter","operationId":"alterUsingPUT_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idCliente","in":"path","description":"idCliente","required":true,"type":"integer","format":"int32"},{"name":"idUsuario","in":"path","description":"idUsuario","required":true,"type":"integer","format":"int32"},{"in":"body","name":"usuario","description":"usuario","required":true,"schema":{"$ref":"#/definitions/Usuario"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["usuarios-controller"],"summary":"deletar","operationId":"deletarUsingDELETE_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idCliente","in":"path","description":"idCliente","required":true,"type":"integer","format":"int32"},{"name":"idUsuario","in":"path","description":"idUsuario","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/clientes/{idCliente}/usuarios}":{"get":{"tags":["usuarios-controller"],"summary":"findPaginatedOrder","operationId":"findPaginatedOrderUsingGET_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idCliente","in":"path","description":"idCliente","required":true,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Numero da página","required":true,"type":"string"},{"name":"limit","in":"query","description":"limit","required":true,"type":"string"},{"name":"order","in":"query","description":"order","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«Usuario»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/produtos":{"get":{"tags":["produtos-controller"],"summary":"findPaginatedOrder","operationId":"findPaginatedOrderUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"offset","in":"query","description":"offset","required":true,"type":"string"},{"name":"limit","in":"query","description":"limit","required":true,"type":"string"},{"name":"order","in":"query","description":"order","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«Produto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["produtos-controller"],"summary":"add","operationId":"addUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"produto","description":"produto","required":true,"schema":{"$ref":"#/definitions/Produto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/produtos/{idProduto}":{"get":{"tags":["produtos-controller"],"summary":"findPaginated","operationId":"findPaginatedUsingGET_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idProduto","in":"path","description":"idProduto","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Produto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["produtos-controller"],"summary":"alter","operationId":"alterUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idProduto","in":"path","description":"idProduto","required":true,"type":"integer","format":"int32"},{"in":"body","name":"produto","description":"produto","required":true,"schema":{"$ref":"#/definitions/Produto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["produtos-controller"],"summary":"deletar","operationId":"deletarUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idProduto","in":"path","description":"idProduto","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/sistemas":{"get":{"tags":["sistemas-erp-controller"],"summary":"Todos os sitemas ERP Linx","description":"ERP's que o LinxCard Integra","operationId":"findPaginatedOrderUsingGET_2","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"offset","in":"query","description":"Numero da página","required":true,"type":"string"},{"name":"limit","in":"query","description":"Quantidade de elementos da página","required":true,"type":"string"},{"name":"order","in":"query","description":"Ordenação decrescente com simbolo '-' antes do nome do atributo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«SistemaERP»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["sistemas-erp-controller"],"summary":"Add Novo sistema ERP que o cartão trabalha integrado","operationId":"addUsingPOST_2","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"sistema","description":"Sistema ERP que desejo inserir","required":true,"schema":{"$ref":"#/definitions/SistemaERP"}}],"responses":{"200":{"description":"Concluido","schema":{"$ref":"#/definitions/SistemaERP"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/sistemas/{idSistema}":{"get":{"tags":["sistemas-erp-controller"],"summary":"Procura por id do sitemas ERP Linx","description":"Informaões do ERP pelo ID","operationId":"findPaginatedUsingGET_4","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"idSistema","in":"path","description":"ID do sistema ERP que precisa","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Operação com sucesso","schema":{"$ref":"#/definitions/SistemaERP"}},"400":{"description":"Valor de status inválido","schema":{"$ref":"#/definitions/SistemaERP"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Sistema não encontrado","schema":{"$ref":"#/definitions/SistemaERP"}}}},"put":{"tags":["sistemas-erp-controller"],"summary":"Altera um sistema","operationId":"alterUsingPUT_2","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"idSistema","in":"path","description":"idSistema","required":true,"type":"integer","format":"int32"},{"in":"body","name":"sistema","description":"Objeto SistemaERP que seja alterar na base","required":false,"schema":{"$ref":"#/definitions/SistemaERP"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SistemaERP"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["sistemas-erp-controller"],"summary":"Delete um sistema","operationId":"deletarUsingDELETE_2","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"idSistema","in":"path","description":"id do sistema que deseja deletar","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/statuspessoa":{"get":{"tags":["status-pessoas-controller"],"summary":"findPaginatedOrder","operationId":"findPaginatedOrderUsingGET_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"offset","in":"query","description":"offset","required":true,"type":"string"},{"name":"limit","in":"query","description":"limit","required":true,"type":"string"},{"name":"order","in":"query","description":"order","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«StatusPessoa»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["status-pessoas-controller"],"summary":"add","operationId":"addUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"statusPessoa","description":"statusPessoa","required":true,"schema":{"$ref":"#/definitions/StatusPessoa"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/statuspessoa/{idStatusPessoa}":{"get":{"tags":["status-pessoas-controller"],"summary":"findPaginated","operationId":"findPaginatedUsingGET_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idStatusPessoa","in":"path","description":"idStatusPessoa","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StatusPessoa"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["status-pessoas-controller"],"summary":"alter","operationId":"alterUsingPUT_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idStatusPessoa","in":"path","description":"idStatusPessoa","required":true,"type":"integer","format":"int32"},{"in":"body","name":"statusPessoa","description":"statusPessoa","required":true,"schema":{"$ref":"#/definitions/StatusPessoa"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["status-pessoas-controller"],"summary":"deletar","operationId":"deletarUsingDELETE_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idStatusPessoa","in":"path","description":"idStatusPessoa","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/api/v1/tipousuario":{"get":{"tags":["tipos-usuario-controller"],"summary":"findPaginated","operationId":"findPaginatedUsingGET_8","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"offset","in":"query","description":"offset","required":true,"type":"string"},{"name":"limit","in":"query","description":"limit","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«TipoUsuario»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["tipos-usuario-controller"],"summary":"add","operationId":"addUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"cliente","description":"cliente","required":true,"schema":{"$ref":"#/definitions/TipoUsuario"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/tipousuario/{idTipoUsuario}":{"get":{"tags":["tipos-usuario-controller"],"summary":"findPaginated","operationId":"findPaginatedUsingGET_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idTipoUsuario","in":"path","description":"idTipoUsuario","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TipoUsuario"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["tipos-usuario-controller"],"summary":"alter","operationId":"alterUsingPUT_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idTipoUsuario","in":"path","description":"idTipoUsuario","required":true,"type":"integer","format":"int32"},{"in":"body","name":"cliente","description":"cliente","required":true,"schema":{"$ref":"#/definitions/TipoUsuario"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["tipos-usuario-controller"],"summary":"deletar","operationId":"deletarUsingDELETE_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idTipoUsuario","in":"path","description":"idTipoUsuario","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/help/links":{"get":{"tags":["help-controller"],"summary":"enderecos","operationId":"enderecosUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EnderecoApi"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"head":{"tags":["help-controller"],"summary":"enderecos","operationId":"enderecosUsingHEAD","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EnderecoApi"}}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}},"post":{"tags":["help-controller"],"summary":"enderecos","operationId":"enderecosUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EnderecoApi"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["help-controller"],"summary":"enderecos","operationId":"enderecosUsingPUT","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EnderecoApi"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["help-controller"],"summary":"enderecos","operationId":"enderecosUsingDELETE","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EnderecoApi"}}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}},"options":{"tags":["help-controller"],"summary":"enderecos","operationId":"enderecosUsingOPTIONS","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EnderecoApi"}}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}},"patch":{"tags":["help-controller"],"summary":"enderecos","operationId":"enderecosUsingPATCH","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EnderecoApi"}}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}}},"definitions":{"SistemaERP":{"type":"object","properties":{"codSistemaERP":{"type":"integer","format":"int64"},"nomeInterfaceERP":{"type":"string"},"nomeSistemaERP":{"type":"string"},"urlWebServiceERP":{"type":"string"}}},"Usuario":{"type":"object","properties":{"acessos":{"$ref":"#/definitions/AcessoUsuario"},"cliente":{"$ref":"#/definitions/PessoaCliente"},"descSenha":{"type":"string"},"descUsuario":{"type":"string"},"emailUsuario":{"type":"string"},"idUsuario":{"type":"integer","format":"int64"},"nomeUsuario":{"type":"string"},"status":{"$ref":"#/definitions/StatusPessoa"},"tipoUsuario":{"$ref":"#/definitions/TipoUsuario"}}},"Funcao":{"type":"object","properties":{"descFuncao":{"type":"string"},"idFuncao":{"type":"integer","format":"int64"},"nomeFuncao":{"type":"string"}}},"Page«Produto»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/Produto"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"Modulo":{"type":"object","properties":{"descModulo":{"type":"string"},"idModulo":{"type":"integer","format":"int64"},"nomeModulo":{"type":"string"},"programas":{"type":"array","items":{"$ref":"#/definitions/Programa"}}}},"Page«TipoUsuario»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/TipoUsuario"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"Page«PessoaCliente»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/PessoaCliente"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"Page«StatusPessoa»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/StatusPessoa"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"Pessoa":{"type":"object","properties":{"email":{"type":"string"},"idPessoa":{"type":"integer","format":"int64"},"nomePessoa":{"type":"string"},"numCnpjCpf":{"type":"string"},"numTelefone":{"type":"string"},"statusPessoa":{"$ref":"#/definitions/StatusPessoa"}}},"TipoUsuario":{"type":"object","properties":{"descTipoUsuario":{"type":"string"},"idTipoUsuario":{"type":"integer","format":"int64"}}},"Page«Usuario»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/Usuario"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"Programa":{"type":"object","properties":{"descPrograma":{"type":"string"},"funcoes":{"type":"array","items":{"$ref":"#/definitions/Funcao"}},"idPrograma":{"type":"integer","format":"int64"},"modulo":{"$ref":"#/definitions/Modulo"},"nomePrograma":{"type":"string"},"produtos":{"type":"array","items":{"$ref":"#/definitions/Produto"}},"urlPrograma":{"type":"string"}}},"Page«SistemaERP»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/SistemaERP"}},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"PessoaCliente":{"type":"object","properties":{"desNomeServidor":{"type":"string"},"desSenhaServidor":{"type":"string"},"desServidor":{"type":"string"},"idCliente":{"type":"integer","format":"int64"},"nomeBanco":{"type":"string"},"pessoa":{"$ref":"#/definitions/Pessoa"},"portaServidor":{"type":"string"},"prefixoCartao":{"type":"string"},"produtos":{"type":"array","items":{"$ref":"#/definitions/Produto"}},"schemaBanco":{"type":"string"},"senhaBanco":{"type":"string"},"sistemaErp":{"$ref":"#/definitions/SistemaERP"},"userBanco":{"type":"string"}}},"StatusPessoa":{"type":"object","properties":{"descStatusPessoa":{"type":"string"},"idStatusPessoa":{"type":"integer","format":"int64"}}},"Sort":{"type":"object"},"EnderecoApi":{"type":"object","properties":{"descricao":{"type":"string"},"endereco":{"type":"string"}}},"Produto":{"type":"object","properties":{"idProduto":{"type":"integer","format":"int64"},"modulos":{"type":"array","items":{"$ref":"#/definitions/Modulo"}},"nomeProduto":{"type":"string"}}},"AcessoUsuario":{"type":"object","properties":{"idAcesso":{"type":"integer","format":"int64"},"modulos":{"type":"array","items":{"$ref":"#/definitions/Modulo"}},"user":{"$ref":"#/definitions/Usuario"}}}}}